Total de unidades vendidas por país de origen del vendedor. Calcular el total. ¿Qué países tienen una mayor y menor participación en las ventas totales?

In [2]:
import pandas as pd
import numpy

In [13]:
df = pd.read_csv('merchant_fill.csv') # cargamos el DF de trabajo
pd.set_option('display.max_columns', None) # esto sirve para cargar todas las columnas en la visualización del DF

In [14]:
df.head() # comprobamos que se ha cargado bien

,Unnamed: 0,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
2,2,Nouvelle mode d'été femmes robe décontractée c...,4.90,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
3,3,Summer Women s Fashion Lace Up Tie Pants Plus...,4.93,6,100,0,3.77,47,22.0,7.0,8.0,5.0,5.0,0,0,0,"Summer,Shorts,Lace,pants,Waist,Short pants,Yel...",red,S,Standard Shipping,1,0,41,50,CN,sarahouse,83% Positive Feedback,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5d58daef3159a812b05933d2,5d58daef3159a812b05933d2,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
4,4,Nouvelle mode d'été femmes robe décontractée c...,5.65,10,100,1,2.86,7,1.0,1.0,2.0,2.0,1.0,0,0,0,"Summer,Fashion,Necks,Skirts,Dress,Loose,Women'...",black,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5e9fa7de39682a0043ab7898,5e9fa7de39682a0043ab7898,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0

In [12]:
df.columns # esto lo usamos para ver los nombres de las columnas y poder hacer las consultas

Index(['Unnamed: 0', 'title', 'price', 'retail_price', 'units_sold',
       'uses_ad_boosts', 'rating_sold', 'rating_count', 'rating_five_count',
       'rating_four_count', 'rating_three_count', 'rating_two_count',
       'rating_one_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'origin_country', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'product_url', 'product_id', 'listed_products',
       'total_units_sold', 'mean_units_sold_per_product', 'rating_employee',
       'merchant_ratings_count', 'mean_product_prices', 'mean_retail_prices',
       'average_discount', 'mean_discount', 'mean_product_ratings_count'],
      dtype='object')

In [ ]:
df_total_unidades_pais = df.groupby(["origin_country", "units_sold"]).count().reset_index() # el problema aquí es que se agrupan las dos cosas juntas, de manera que cada vez que
                                                                                            # units_sold cambia, lo trata como una cosa que contar
df_total_unidades_pais

In [22]:
df_total = df.groupby("origin_country")['units_sold'].count().reset_index() # esto cuenta cuántas veces aparece el país
df_total

  origin_country  units_sold
0             AT           1
1             CN        1516
2             GB           1
3             SG           2
4             US          31
5             VE           5

In [23]:
df_total_sum = df.groupby("origin_country")['units_sold'].sum().reset_index() # esto suma todas las unidades vendidas
df_total_sum

  origin_country  units_sold
0             AT         100
1             CN     6651245
2             GB        1000
3             SG       20100
4             US       43560
5             VE         350

In [24]:
df_total_sum.sort_values(by='units_sold', ascending=False) # usamos sort_values para ordenarlo por lo que determinamos en el by; después, ascending=False porque ascending es un booleano

  origin_country  units_sold
1             CN     6651245
4             US       43560
3             SG       20100
2             GB        1000
5             VE         350
0             AT         100

In [25]:
df.columns # esto lo usamos para ver los nombres de las columnas y poder hacer las consultas

Index(['Unnamed: 0', 'title', 'price', 'retail_price', 'units_sold',
       'uses_ad_boosts', 'rating_sold', 'rating_count', 'rating_five_count',
       'rating_four_count', 'rating_three_count', 'rating_two_count',
       'rating_one_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'origin_country', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'product_url', 'product_id', 'listed_products',
       'total_units_sold', 'mean_units_sold_per_product', 'rating_employee',
       'merchant_ratings_count', 'mean_product_prices', 'mean_retail_prices',
       'average_discount', 'mean_discount', 'mean_product_ratings_count'],
      dtype='object')

In [28]:
estadisticas_precio_mean = df.groupby('countries_shipped_to')['price'].mean()
estadisticas_precio_mean.tail()

countries_shipped_to
135    5.355000
137    8.243333
138    6.036667
139    8.975000
140    5.220000
Name: price, dtype: float64

In [32]:
estadisticas_precio_max = df.groupby('countries_shipped_to').agg(
    promedio = ('price', 'mean'),
    maximo = ('price', 'max')
).reset_index()

estadisticas_precio_max.tail()

    countries_shipped_to  promedio  maximo
89                   135  5.355000     7.0
90                   137  8.243333    11.0
91                   138  6.036667     9.0
92                   139  8.975000    13.0
93                   140  5.220000     7.0